<h3 class="page-header">New review for <%= @book.title %> book</h3>
<%= simple_form_for([@book, @book.reviews.build]) do |form| %>
	<div id="rating-form">
		<label>Rating</label>
	</div> <!--/.rating-form-->
	<%= form.input :comment %>
	<%= form.button :submit, { class: "btn btn-md btn-custom2" } %>
<% end %>
<%= link_to "Return", book_path(@book), { class: "btn btn-md btn-default" } %>

<script>
	$('#rating-form').raty({
		path: '/assets/',
		scoreName: 'review[rating]'
	});
</script>